<div class="flex flex-wrap gap-2 mb-4">
    @for (color of colors; track $index) {
        <app-button [color]="color" class="color-swatch"></app-button>
    }
<!--     <button style="background-color: #000000;" class="color-swatch border border-gray-300"></button>
    <button style="background-color: #FFFFFF;" class="color-swatch border border-gray-300"></button>
    <button style="background-color: #FF0000;" class="color-swatch border border-gray-300"></button>
    <button style="background-color: #00FF00;" class="color-swatch border border-gray-300"></button>
    <button style="background-color: #0000FF;" class="color-swatch border border-gray-300"></button>
    <button style="background-color: #FFFF00;" class="color-swatch border border-gray-300"></button> -->
</div>