<div class="bg-gray-50 p-4 rounded-lg">
    <div class="relative w-full max-w-md mx-auto aspect-[3/4]">
      <div class="absolute inset-0 bg-white rounded-lg"></div>
      <div class="absolute inset-0 flex items-center justify-center">
        <div class="product-image-container">
          <img [src]="productImageUrl" class="product-image" />
          <div
          class="color-overlay"
          [style.background-color]="color"
          ></div>
          <div
          class="texture-overlay"
          [style.background-color]="productBackgroundColor || 'transparent'"
          [style.background-image]="productBackgroundImgUrl ? 'url(' + productBackgroundImgUrl + ')' : 'none'"
        ></div>
        </div>
      </div>
    </div>
    <div class="mt-4 flex justify-center items-center">
      <app-button class="btn btn-outline px-3">-</app-button>
      <span class="mx-4 font-medium">100%</span>
      <app-button class="btn btn-outline px-3">+</app-button>
    </div>
  </div>

  <!--             <div class="w-1/2 h-1/2 border-2 border-dashed border-gray-400 rounded-lg"></div> -->
<!-- https://github.com/Andrew-Tsegaye/Change-Product-Image-Color/blob/start-engine/style.css -->