<!-- <div>
    <div>
        <h1>Design</h1>
        <div>
            <div>
                <div>
                    <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Front</button>
                    <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Back</button>
                    <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Sleeve Right</button>
                    <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Sleeve Left</button>
                </div>
            </div>
            <div>
                <h4>Style, Image Container</h4>
                <div>
                    <h5>Style Container</h5>
                    <div>
                        <div>
                            <h6>DTG, Embroidery Buttons</h6>
                            <button style="background-color: rgb(24, 24, 24);" type="button" class="focus:outline-none text-white bg-300 hover:bg-800 focus:ring-4 focus:ring-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-600 dark:hover:bg-500 dark:focus:ring-red-900"></button>
                            <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">L</button>
                        </div>
                    </div>
                </div>
                <div>
                    <h5>Prompt, Genre</h5>
                    <div>
                        <div>
                            <div>
                                <input type="text" class="focus:outline-none border border-dark-300 rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600" placeholder="Prompt">
                            </div>
                            <div>
                                <p>Select Genre</p>
                                <div>
                                    <div class="Genre1">
                                        <img src="assets/images/genre1.png" alt="Genre1">
                                        <p>Genre1</p>
                                    </div>
                                    <div class="Genre1">
                                        <img src="assets/images/genre1.png" alt="Genre1">
                                        <p>Genre1</p>
                                    </div>
                                    <div class="Genre1">
                                        <img src="assets/images/genre1.png" alt="Genre1">
                                        <p>Genre1</p>
                                    </div>
                                    <div class="Genre1">
                                        <img src="assets/images/genre1.png" alt="Genre1">
                                        <p>Genre1</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                </div>Generate<div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                                    </svg>
                                    <p>1 Coin</p>
                                </div>
                            </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>Image Container</h1>
            <div>
                <h1>Image Buttons Containers</h1>
                <div>
                    <h4>Image Buttons</h4>
                    <div>
                        <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Front</button>
                        <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Back</button>
                        <button type="button" class="text-gray-900 bg-white border border-dark-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-dark-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-dark-600 dark:hover:bg-dark-700 dark:hover:border-dark-600 dark:focus:ring-dark-700">Sides</button>
                    </div>
                    <div>
                        <h4>Undo, Redo Buttons</h4>
                    </div>
                </div>
            </div>
            <div>
                <div id="#editor-container">
                    <div id="#canvas-front-container">
                        <canvas id="#canvas-front"></canvas>
                    </div>
                    <div id="#canvas-back-container">
                        <canvas id="#canvas-back"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-zoom></app-zoom>
        </div>
    </div>
</div> -->

<!--  <app-t-shirt></app-t-shirt> -->