<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="assets/hermit.jpg" class="h-8 rounded-full" alt="PrintGen™ Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">PrintGen</span>
        </a>
      <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"> 
          @if (isEntered && userDetails) {
            <app-dropdown-profile [userDetails]="userDetails"></app-dropdown-profile>
          }
          @else
          {
            <div class="flex items-center gap-2">
              <div class="sm:flex sm:gap-4">
                <app-button-auth text="Login" routerLink="/auth/login"></app-button-auth>
              </div>
              <div class="hidden sm:flex">
                <app-button-auth text="Register" routerLink="/auth/register"></app-button-auth>
              </div>
            </div>
          }
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
<!--         <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a routerLink="" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
          </li>
        </ul> -->
        
        <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400">
            <li class="me-2">
                <a routerLink="" routerLinkActive="text-blue-600 border-blue-600 dark:text-blue-500 dark:border-blue-500" [routerLinkActiveOptions]="{ exact: true }" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg group">
                    <svg class="w-4 h-4 me-2" [ngClass]="{'text-blue-600 dark:text-blue-500': isActive('/'), 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': !isActive('/')}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                        <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                    </svg>Best Sellers
                </a>
            </li>
            <li class="me-2">
                <a routerLink="/design" routerLinkActive="text-blue-600 border-blue-600 dark:text-blue-500 dark:border-blue-500" class="inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg group">
                    <svg class="w-4 h-4 me-2" [ngClass]="{'text-blue-600 dark:text-blue-500': isActive('/design'), 'text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300': !isActive('/design')}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5 11.424V1a1 1 0 1 0-2 0v10.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.228 3.228 0 0 0 0-6.152ZM19.25 14.5A3.243 3.243 0 0 0 17 11.424V1a1 1 0 0 0-2 0v10.424a3.227 3.227 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.243 3.243 0 0 0 2.25-3.076Zm-6-9A3.243 3.243 0 0 0 11 2.424V1a1 1 0 0 0-2 0v1.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0V8.576A3.243 3.243 0 0 0 13.25 5.5Z"/>
                    </svg>Design
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
    
