<div class="relative mx-auto max-w-screen-full px-24 py-20 sm:px-32 lg:flex lg:h-auto lg:justify-items-start lg:px-36">
  <div class="container w-full grid grid-cols-2 gap-10 md:grid-cols-2">
    <div class="w-1/5">
<!--       <app-filter></app-filter>
 -->    </div>
    <div class="w-4/5 max-w-3xl">
      <div class="">
<!--         <app-hotel-list></app-hotel-list>
-->      <h1>Naber</h1>
      </div>
      <div class="py-8">
<!--         <app-pagination></app-pagination> -->
      </div>
    </div>
  </div>
</div>
